.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

/* 子菜单栏 */
.dropdown {
    display: inline-block;
}
  
/* 子菜单的内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    line-height: 1.3rem;
}
  
/* 子菜单的链接 */
.dropdown-content a {
    padding: 10px 18px 10px 14px;
    text-decoration: none;
    display: block;
    & i {
      margin-right: 3px;
    }
}
  
/* 鼠标移上去后修改子菜单链接颜色 */
.dropdown-content a:hover {
    /* background-color: #f1f1f1; */
    background-color: #f1f100;
    border-radius: 40px;
}
  
/* 在鼠标移上去后显示子菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当鼠标悬停在子菜单上时，保持子菜单显示 */
.dropdown-content:hover {
    display: block;
}
  
@media screen and (max-width: 2000px) {
    .dropdown {
        display: inline;
    }
    .dropdown:hover .dropdown-content {
        display: inline;
        z-index: 1;
        margin-top: -em;
        margin-left: em;
    }
    /* 当鼠标悬停在子菜单上时，保持子菜单显示 */
    .dropdown-content:hover {
        display: block;
    }
    .dropdown-content a:hover {
        background-color: transparent;
        background-color: #bdefea;
        border-radius: 6px;
    }
}