.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

/* 子菜单栏 */
.dropdown {
    display: inline-block;
}
  
/* 子菜单的内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    line-height: 1.3rem;
}
  
/* 子菜单的链接 */
.dropdown-content a {
    padding: 10px 18px 10px 14px;
    text-decoration: none;
    display: block;
    & i {
      margin-right: 3px;
    }
}
  
/* 鼠标移上去后修改子菜单链接颜色 */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
}
  
/* 在鼠标移上去后显示子菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}
  
@media screen and (max-width: 680px) {
    .dropdown {
        display: inline;
    }
    .dropdown:hover .dropdown-content {
        display: inline;
        z-index: 1;
        margin-top: -2em;
        margin-left: 3em;
    }
    .dropdown-content a:hover {
        background-color: transparent;
    }
}
  
